<div class="container">
    <form method="post">
        {% csrf_token %}
{#        TODO get custom form templates to work#}
{#        {{ add_member_form }}#}

        <div class="form-group">
            <label for="id_user_name">Add Member:</label>
            <input type="text" class="col-8 form-control" id="id_user_name" name="user_name"
                   placeholder="Username" required>
        </div>

        <div class="d-flex flex-row-reverse">
            <input type="submit" class="btn btn-secondary" value="Create">
        </div>
    </form>

</div>